<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mlopez.deportesburgos"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="4"/>

    <application android:icon="@drawable/deportesicon" android:label="@string/app_name" >
        <activity android:name=".DeportesBurgosActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".SearchResultsActivity" android:label="@string/searchresults">
        </activity>
        
        <activity android:name=".AcercaDeActivity" android:label="@string/acercade">
        </activity>
        
        <activity android:name=".PreferencesFromXml" android:label="@string/preferences" >
        </activity>
        
        <activity android:name=".ResumenReservaActivity" android:label="Reserva" >
        </activity>
        
        <activity android:name=".ReservasActivity" android:label="Mis Reservas" android:configChanges="keyboardHidden|orientation">
        </activity>
        
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
        

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    
</manifest>